:root{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;

    --dark-blue: #00153E;
    --blue: #003366;
    --lighter-blue: #004488;
    --red: #F00A4B;

    color: white;
}

body {
    margin: 0;
}

#title {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 60px;
    font-size: 3em;
    background: var(--blue);
    color: white;
    border-bottom: 4px solid var(--red);
    z-index: 1;
}

#bracket-zone{
    width: 1920px;
    height: calc(1080px - 60px);
    background: var(--dark-blue);
}

#camera {
    width: fit-content;
}

.elim-bracket-wrapper{
    display: flex;
}

.elim-bracket-wrapper:not(:first-child){
    margin-top: 1em;
}

.elim-grid-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5em auto;
    align-items: center;
    margin: 0 .5em;
}

.elim-grid-wrapper > .grid-header{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: .5em;
}

.elim-round-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    background-color: var(--blue);
    font-size: .8em;
    margin: .1em 0;
}

.elim-round-wrapper > .team-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    white-space: nowrap;
    min-width: 8em;
}

.elim-round-wrapper > .team-wrapper:first-child{
    border-bottom: 1px solid var(--lighter-blue);
}

.elim-round-wrapper > .team-wrapper > .seed {
    font-weight: 300;
    transform-origin: center;
    transform: scale(.7);
    opacity: .85;
    min-width: 1.2em;
    text-align: center;
    margin-right: .35em;
    background-color: var(--lighter-blue)
}

.elim-round-wrapper > .team-wrapper > .team {
    font-weight: 400;
    margin-right: auto;
    line-height: 100%;
}

.elim-round-wrapper > .team-wrapper > .score {
    font-weight: 700;
    padding: .05em 0;
    width: 2.2ch;
    margin-left: .35em;
    text-align: center;
    color: white;
    background-color: var(--lighter-blue);
}

.group-bracket-wrapper {
    display: flex;
    flex-direction: column;
}

.group-bracket-wrapper > .group-header {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin: .1em 0;
}

.group-round-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    margin-bottom: .2em;
    font-size: 1em;
}

.group-round-wrapper > .team-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group-round-wrapper > .team-wrapper:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
}

.group-round-wrapper > .team-wrapper > .team {
    width: 250px;
}

.group-round-wrapper > .team-wrapper:first-child > .team {
    text-align: right;
}

.group-round-wrapper > .team-wrapper > .score {
    margin: 0 10px;
    padding: .1rem 0;
    width: 2.5ch;
    height: fit-content;
    text-align: center;
    background-color: var(--lighter-blue);
}


.roundrobin-bracket-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.roundrobin-bracket-wrapper > .title{
    grid-column: 1 / 3;
    font-size: 2.5em;
    font-weight: 600;
    color: white;
    text-align: center;
}

.roundrobin-bracket-wrapper > .group-bracket-wrapper {
    margin: 0 15px;
}


.winner > .team {
    font-weight: 700 !important;
    text-shadow: 0 0 .5em var(--red);
}

.winner > .score {
    background-color: var(--red) !important;
}

.elim-third{
    position: absolute;
    align-self: flex-end;
}
.elim-third::before{
    content: "Third Place";
    background: var(--lighter-blue);
    font-size: .70em;
    padding: .05rem .25rem;
}

div[data-round-status="in-progress"]{
    animation: in-prog-flash 1.5s infinite;
    border: 2px solid;
}

@keyframes in-prog-flash {
    0% {
        border-color: var(--red);
    }
    50% {
        border-color: var(--lighter-blue);
    }
    100% {
        border-color: var(--red);
    }
}

div[data-round-status="not-started"]{
    opacity: .35;
}