:root{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;

    --off-white: #F3F9FA;
    --seafoam: #CEF7E7;
    --dark-teal: #335563;
    --blue-grey: #4D6C72;
    --dark-blue: #191A34;
}

body {
    margin: 0;
}

#bracket-zone{
    width: 1920px;
    height: 1080px;
    background: linear-gradient(180deg, var(--off-white) 0%, var(--seafoam) 100%);
}

#camera {
    width: fit-content;
}

.elim-bracket-wrapper{
    display: flex;
}

.elim-bracket-wrapper:not(:first-child){
    margin-top: 1em;
}

.elim-grid-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5em auto;
    align-items: center;
    margin: 0 .5em;
}

.elim-grid-wrapper > .grid-header{
    color: var(--dark-blue);
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: .5em;
}

.elim-round-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    color: white;
    background: linear-gradient(180deg, var(--blue-grey) -100%, var(--dark-blue) 100%);
    font-size: .8em;
    margin: .1em 0;
    border: 1px solid var(--dark-teal);
    overflow: hidden;
    border-radius: .65em;
    box-shadow: 0 0 32px #19191944;
}

.elim-round-wrapper > .team-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    white-space: nowrap;
    min-width: 8em;
}

.elim-round-wrapper > .team-wrapper:first-child{
    border-bottom: 1px solid var(--dark-teal);
}

.elim-round-wrapper > .team-wrapper > .seed {
    font-weight: 400;
    transform-origin: center;
    transform: scale(.8);
    opacity: .85;
    min-width: 1.2em;
    text-align: center;
    margin-right: .35em;
    background-color: rgba(255, 255, 255, 0.120);
    border-radius: 100%;
}

.elim-round-wrapper > .team-wrapper > .team {
    font-weight: 500;
    margin-right: auto;
}

.elim-round-wrapper > .team-wrapper > .score {
    font-weight: 700;
    padding: .1em 0;
    width: 2.5ch;
    margin-left: .35em;
    text-align: center;
    color: var(--dark-blue);
    background-color: var(--off-white);
    border-left: 1px solid var(--dark-teal);
}

.group-bracket-wrapper {
    display: flex;
    flex-direction: column;
}

.group-bracket-wrapper > .group-header {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: .1em;
}

.group-round-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 5px;
    font-size: 1em;
}

.group-round-wrapper > .team-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group-round-wrapper > .team-wrapper:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
}

.group-round-wrapper > .team-wrapper > .team {
    width: 250px;
}

.group-round-wrapper > .team-wrapper:first-child > .team {
    text-align: right;
}

.group-round-wrapper > .team-wrapper > .score {
    margin: 0 10px;
    padding: .1rem 0;
    width: 2.5ch;
    height: fit-content;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.068);
}


.roundrobin-bracket-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.roundrobin-bracket-wrapper > .group-bracket-wrapper {
    margin: 0 15px;
}


.winner {
    background: linear-gradient(90deg, var(--purple-a) 0%, transparent 75%);
}

.winner > .team {
    color: var(--seafoam);
    font-weight: 700 !important;
}

.elim-third{
    position: absolute;
    align-self: flex-end;
}
.elim-third::before{
    content: "Third Place";
    background-color: var(--blue-grey);
    color: white;
    font-size: .75em;
    padding: .05rem .5rem;
}

div[data-round-status="in-progress"]{
    animation: in-prog-flash 3s infinite;
}

@keyframes in-prog-flash {
    0% {
        background: var(--dark-blue);
    }
    50% {
        background: var(--blue-grey);
    }
    100% {
        background: var(--dark-blue);
    }
}

div[data-round-status="not-started"]{
    opacity: .35;
}